.graphviz svg {
  width: 100%;
  height: 512px;
}

.wy-side-nav-search {
  background-color: #AA0202;
}

.wy-side-nav-search input[type=text] {
  border-color: #AA0202;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item input {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}
